body{
	font-family: Verdana,Calibri,sans-serif;
	margin: 0px;
	padding:0px;
}
div{
	border: 5px dashed; green;
	border-radius: 8px;
	padding: 10px;
	margin: 10%;
	text-align: center;
	background-color: whitesmoke;
	height: 300px;
	opacity: .6;
}
h1 {
	color: black;
}
h2 {
	color: black;
}

nav > ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
}

nav > ul > li{
	float: left;
}

.submenu{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

.menu-mobile{
	display: none;
}

nav{
	width: 100%;
	background-color: #424558;
}

nav > ul > li{
	float: left;
	position: relative;
}

nav > ul::after {
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

.submenu li{
	border-bottom: 1px solid #CCC;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-htmlcss:hover{
	border-top: 5px solid #F44336;
	background-color: RGBa(228, 77, 38, 0.15);
}

.menu-js:hover{
	border-top: 5px solid #0070bb;
	background-color: RGBa(000, 112, 192, 0.15);
}

.menu-bd:hover{
	border-top: 5px solid #76FF03;
	background-color: RGBa(241, 211,79, 0.15);
}

.menu-php:hover{
	border-top: 5px solid #BBB;
	background-color: RGBa(220, 220, 220, 0.15);
}

.menu-presentation:hover{
	border-top: 5px solid #BBB;
	background-color: RGBa(220, 220, 220, 0.15);
}

nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}

.menu-htmlcss .submenu{
	background-color: rgb(245, 127, 23);
}

.menu-js .submenu{
	background-color: rgb(000, 160, 240);
}

.menu-bd .submenu{
	background-color: rgb(118, 255, 3);
}

.menu-mission .submenu{
	background-color: darkred ;
}

.submenu li:hover a{
	color: #EEE;
	font-weight: bold;
}

.menu-htmlcss .submenu li:hover{
	background-color: rgb(210, 77, 60);
}

.menu-js .submenu li:hover{
	background-color: rgb(000, 115, 200);
}

.menu-bd .submenu li:hover{
	background-color: rgb(67, 160, 71);
}

.menu-mobile{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

nav input[type=checkbox]:checked ~ ul{
	display: block;
}

/*@media screen and (max-width : 680px){
	.menu-mobile{
		display: block;
		color: #fff;
		background-color: rgba(29, 197, 151, 0.97);
		text-align: center;
		padding: 12px 0;
	}
	nav ul{
		display: none;
	}
}

nav ul li, nav ul li a {
	width: 100%;
	text-align: center;
}

nav ul li a, nav ul li:hover a{
	padding: 10px 0px 10px 0px;
}

nav li:hover .submenu{
	display: block;
	position: static;
}*/

html {
	margin: 0;
	padding: 0;
	background: url(gif.gif);
	background-size: cover;
}
.mission:hover{
	border-top: 5px solid FFFB00;
	background-color: RGBa(000, 112, 192, 0.15);
}
.mission .submenu li:hover{
	background-color: rgb(255, 252, 63);
}
.mission .submenu{
	background-color: rgb(255,253,131);
}
