body
{
	background-color: black ;
	text-align: center ;
}
h1 
{
	color: red ; 
	font-family: red ; 
	font-size: 2em ;
}
input
{
	border: 2px solid red; 
	border-radius: 32px ;
	width : 50% ;
	margin-left : 23%;
	margin-right : 25%;
	padding : 2% ;
	color: red ;
	background-color: black ;
	border-color :  red ;
	text-align: center;

}
button
{
	background-color: red;
	text-align : center;
	width: 150px ;
	padding: 10px 24px;
	border-radius : 20px;
	margin-top :3px;
	border: 2px solid red ;
	margin-top: 2% ;
}
button:hover
{
	color :red;
	background-color: black;
	border: 2px solid red ;
}
div
{
	border: 2px solid red ; 
	border-radius: 50px ;
	width : 50% ;
	margin-left : 25%;
	margin-right : 35%;
	padding : 3% ;
}